* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #03a9f4;
}

.page-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-bar {
    overflow-y: auto;
    background-color: #eeeeee;
    width: 15%;
    height: 100%;
}


#second-title {
    width: 95%;
    margin: 25px;
    border-bottom: solid 1px gray;
}


.content-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
    position: absolute;
    right: 0px;
    border: solid 3px blue;
    overflow-y: auto;
}

.contenitore-articoli {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contenitore-articoli a{
    width: 300px;
    height: 300px;
    border: solid 1px red;
    
}

#aggiungi_articoli {
    position: absolute;
    right: 60px;
    top: 15px;
    white-space: nowrap;
}


