* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}


.form-container {
    border-radius: 15px;
    border: solid 3px black;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.3);
    width: 25%;
    height: 50%;
    transition: all 0.3s ease;
}
.form-container:hover{
    transform: scale(1.15);
}

#file-form {
    height: 100%;
    gap: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flash-messages {
    font-size: 16px;
    font-family: sans-serif;
}

.input-group.mb-3 {
    width: 50%;
    height: 45px;
    transition: all 0.3s ease-out;
}
.input-group.mb-3:hover {
    transform: scale(1.1);
}

#inputGroupSelect01 {
    width: 50%;
    height: 45px;
    transition: all 0.3s ease-out;
}
#inputGroupSelect01:hover {
    transform: scale(1.1);
}

#file-selector {
    width: 50%;
    height: 45px;
    transition: all 0.3s ease-out;
}
#file-selector:hover {
    transform: scale(1.1);
}

#submit-button {
    height: 50px;
    width: 125px;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}
#submit-button:hover {
    transform: scale(1.1);
}