<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/desktop_index.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title-bar">
        <h1 id="title">
            GIORNALE 2D MATTEI
        </h1>
    </div>
    <div class="nav-bar">
        <h2>
            cronaca nera
        </h2>
        <h2>
            sport
        </h2>
        <h2>
            ecc
        </h2>
    </div>
    <div class="article-container">
        
    </div>
</body>
</html>