<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/desktop_index.css">
    <title>Document</title>
</head>
<body>
    <div class="top-bar">
        <h1 id="first-title">
            Giornali 2D Mattei
        </h1>
    </div>

    <div class="page-container">
        <div class="left-bar">

        </div>
        <div class="content-bar">
            <h2 id="second-title"> Giornali e Notizie deel'ultima ora</h2>

        </div>
    </div>
</body>
</html>