<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/desktop_add_article.css">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <form action="/submit_article" method="POST" enctype="multipart/form-data" id="file-form">
            <input type="text" name="title" id="title-input" placeholder="scrivi il titolo" >
            <input type="url" name="url" id="url-input" placeholder="scrivi l'url dell'articolo creato su wordpress" >
            <select name="genere" id="genere-input" >
                <option value="" disabled selected>Seleziona un'opzione</option>
                <option value="cronaca-nera">cronaca-nera</option>
                <option value="sport">sport</option>
                <option value="cultura">cultura</option>
                <option value="politica"></option>
                <option value="politica"></option>
            </select>
            <input type="file" name="image" id="image-input" >
            <button type="submit">Carica articolo</button>
            <div class="flash_messages">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "error" %}
                                <div class="flash-message {{ category }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
</body>
</html>